html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #222325;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
