html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #222325;
  --big-box-shadow: 0px 0px 0px 1px rgba(15, 15, 15, 0.05), 0px 3px 6px rgba(15, 15, 15, 0.1), 0px 9px 24px rgba(15, 15, 15, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  border: 1px solid #E4E4E4;
  padding: 8px 8px;
  border-radius: 4px;
}

button {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A3A3A3;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A3A3A3;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: #A3A3A3;
}

hr {
  margin-top: 1rem;
  width: 100%;
  border-style: hidden;
  border-top: 01px solid #e9e9e9;
}