.login_container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.signup_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  min-width: 450px;
}

.signup_right {
  display: flex;
  background-image: url(/login_backdrop.svg);
  background-repeat: no-repeat, no-repeat;
  min-width: calc(100vw - 450px);
  min-height: 100%;
  background-size: cover;
  max-width: calc(100vw - 450px);
}

.login_footer {
  position: fixed;
  bottom: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: #C5C5C5;
}

.signup_logo {
  margin-top: -100px;
}

.signup_title {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-top: 1em;
}

.button {
  display: flex;
  border: 1px solid #C4C4C4;
  padding-top: 17px;
  padding-bottom: 14px;
  border-radius: 4px;
  min-width: 400px;
  max-height: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  background-color: #1A60B2;
  color: white;
  box-shadow: 0px 0px 0px 1px rgba(15, 15, 15, 0.05), 0px 3px 6px rgba(15, 15, 15, 0.1), 0px 9px 24px rgba(15, 15, 15, 0.2);
  border-color: none;
}

.button > p {
  margin-left: 21px;
}

.with_sidebar {
  overflow: hidden;
  flex: 1;
  --s1: 0px;
  --sidebar-width: 300px;
}

.with_dashboard_sidebar {
  overflow: hidden;
  flex: 1;
  --s1: 0px;
  --sidebar-width: 250px;
}

.with_sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with_sidebar > * > * {
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.with_sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
  overflow-y: scroll;
  max-height: 100vh;
}

.with_dashboard_sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with_dashboard_sidebar > * > * {
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.with_dashboard_sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
  overflow-y: scroll;
  max-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #D0D0D0;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  width: 250px;
  background: #F8FAFC;
}

.collapsed_sidebar {
  width: 60px;
}

.dashboard_sidebar {
  background: #F8FAFC;
}

.sidebar_logo {
  margin-top: 29px;
  margin-bottom: 29px;
}

.sidebar_link {
  display: flex;
  align-self: flex-start;
  padding: 12px 8px;
  width: 100%;
  padding-left: 24px;
  font-size: 1rem;
  color: #505256;
  cursor: pointer;
}

.sidebar_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_link:hover {
  background: #E4E4E7;
}

.sidebar_link > span {
  margin-left: 8px;
}

.sidebar_link_active {
  position: relative;
  align-self: flex-start;
  padding-left: 24px;
  background-color: #3974B9;
  width: 100%;
  color: white;
  font-weight: 600;
}

.sidebar_link_box {
  content: ' ';
  position: absolute;
  background: #1c4f6d;
  border: 2px solid #1c4f6d;
  width: 6px;
  left: 0px;
  height: 100%;
  top: 0px;
  box-sizing: border-box;
}

.sidebar_link_active:hover {
  background-color: #3974B9;
}

/* Collapse */
.sidebar_collapse {
  display: flex;
  align-self: flex-start;
  padding: 12px 8px;
  width: 100%;
  padding-left: 28px;
  font-size: 1rem;
  color: #505256;
  cursor: pointer;
}

.sidebar_collapse:hover {
  background: #E4E4E7;
}

.sidebar_collapse > span {
  margin-left: 8px;
}

.sidebar_collapse_active {
  position: relative;
  align-self: flex-start;
  padding-left: 28px;
  background-color: #3974B9;
  width: 100%;
  color: white;
  font-weight: 600;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.container_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container_content > p {
  color: #4E4F55;
  font-size: 1rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 4px;
  align-self: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-right: 40px;
}

.profile:hover {
  cursor: pointer;
}

.profile > img {
  border-radius: 30px;
}

.profile_circle {
  border-radius: 30px;
}
.profile > p {
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
  letter-spacing: -0.04em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.profile_arrow {
  margin-left: 8px;
}

.onboarding_box_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.onboarding_box_row > * + * {
  margin-left: 1.5rem;
}
.onboarding_box {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 175px;
  height: 175px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 15px 18px 22px 15px;
  background-size: 200% auto;
  transition: all 0.5s;
}

.onboarding_box_red {
  background-image: linear-gradient(to right, #FF6969 0%, rgba(255, 105, 105, 0.76) 100%);
  box-shadow: 12px 10px 0px #FFCCCC;
}

.onboarding_box:hover {
  background-position: right center; /* change the direction of the change here */
}

.onboarding_box_red:hover {
  box-shadow: 8px 6px 0px #FFCCCC;
  /* margin-left: 3px;
  margin-top: 3px;
  margin-right: -3px;
  margin-bottom: -3px; */
}

.onboarding_box_blue {
  background-image: linear-gradient(to right, #08ADD1 0%, rgba(8, 173, 209, 0.60) 100%);
  box-shadow: 12px 10px 0px #CEF5FD;
}

.onboarding_box_blue:hover {
  box-shadow: 8px 6px 0px #CEF5FD;
  /* margin-left: 33px;
  margin-top: 3px;
  margin-right: -3px;
  margin-bottom: -3px; */
}

.onboarding_box_purple {
  background-image: linear-gradient(to right, #9008D1 0%, rgba(144, 8, 209, .5) 95%);
  box-shadow: 12px 10px 0px #EECEFD;
}

.onboarding_box_purple:hover {
  box-shadow: 8px 6px 0px #EECEFD;
  /* margin-left: 33px;
  margin-top: 3px;
  margin-right: -3px;
  margin-bottom: -3px; */
}


.row {
  display: flex;
  flex-direction: row;
}

.row > * + * {
  margin-left: 30px;
}

.onboarding_box_content {
  display: flex;
  margin-top: auto;
}

.blue_button {
  background: #4E94E5;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 200px;
  margin: 20px;
  cursor: pointer;
}

.blue_button:disabled {
  cursor: not-allowed;
  background: #7AAEEB;
  border-color: #7AAEEB;
}

.blue_button:hover {
  background: #7AAEEB;
  border-color: #7AAEEB;
}

.integrations_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 1.5rem;
}

.integration {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
}

.integration_box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #D3E4F8;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.integration_box_done {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #D3E4F8;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}

.integration_box_done::before {
  content: '';
  position: absolute;
  z-index: 4;
  width: 130%;
  height: 130%;
  background-image: url('/green_check.svg');
  background-size: 50px 50px;
  background-position: 130px 0px, right 0px bottom 0px;
  background-repeat: no-repeat;
}

.integration_box_done > span {
  margin-top: .5rem;
}

/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.integration::after {
  opacity: 0;
  content: "";
  border-radius: 3px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0px 0px 0px 1px rgba(15, 15, 15, 0.05), 0px 3px 6px rgba(15, 15, 15, 0.1), 0px 9px 24px rgba(15, 15, 15, 0.2);
}

.integration:hover::after {
  opacity: 1;
}

.bold_text {
  font-weight: bold;
}

.not_ready_text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 23px;
  text-align: center;
  color: #787878;
}

.not_ready_text > span:hover {
  cursor: pointer;
  color: hsla(212, 74%, 60%, 1);
}

.token_block {
  display: inline-flex;
  padding: 5px 10px ;
  background-color: #EBEBEB;
  border-radius: 8px;
  text-overflow: clip;
}

.token_block > img {
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.token_block > img:hover {
  background: #C4C4C4;
}

.token_block > p {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.segment_container {
  box-shadow: 0px 0px 0px 1px rgba(15, 15, 15, 0.05), 0px 3px 6px rgba(15, 15, 15, 0.1), 0px 9px 24px rgba(15, 15, 15, 0.2);
  padding: 5px 15px;
  border-radius: 8px;
  margin-top: 45px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: #BDBDBD !important;
  font-size: 14px !important;
  line-height: 23px;
  text-transform: uppercase;
  margin-block-end: 2px;
  letter-spacing: 0.08em;
}

.segment_tutorial_image {
  width: 600px;
  border-radius: 18px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.18);
}


.segment_container_wrapper > h2 {
  margin-block-end: 0px;
  margin-block-start: 3rem;
}

.form_box {
  padding: 25px 25px;
  background: #F7F7F7;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 16px;
}

.form_box > form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.settings_form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.settings_form > label {
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #4E4F55;
}

.form_box > * > label {
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #4E4F55;
}

.form_box > * > * > label {
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #4E4F55;
}

.settings_form > input {
  padding: 8px 8px;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.settings_form > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A3A3A3;
  opacity: 1; /* Firefox */
}

.settings_form > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A3A3A3;
}

.settings_form > input::-ms-input-placeholder { /* Microsoft Edge */
  color: #A3A3A3;
}

.form_box > form > input {
  padding: 8px 8px;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.form_box > form > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A3A3A3;
  opacity: 1; /* Firefox */
}

.form_box > form > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A3A3A3;
}

.form_box > form > input::-ms-input-placeholder { /* Microsoft Edge */
  color: #A3A3A3;
}

.go_back {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;
  font-style: normal;
  font-weight: normal;
  padding: 6px 8px;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
  margin: 0px;
}

.go_back > span {
  margin-left: 8px;
}

.go_back:hover {
  text-align: center;
  background: #EAEAEA;
  border-radius: 8px;
}

.blinking_circle {
  height:1.25rem;
  width:1.25rem;

  border-radius: 4rem;

  opacity: 0.0;
  background: #F8D72B;
}

.blinking_circle_anim {
  -webkit-animation: pulsate 1000ms ease-out;
  -webkit-animation-iteration-count: infinite;

  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.blinking_circle_green {
  background: #36D71C;
  opacity: 1;
}

@-webkit-keyframes pulsate {
  0% {opacity: 0.1;}
  40% {opacity: 1.0;}
  60% {opacity: 1.0;}
  100% {opacity: 0.1;}
}

.title_bar_container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.title_bar_line {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #D0D0D0;
}

.title_text {
  flex-grow: 1;
}

.title_text > h1 {
  font-weight: 500;
  font-size: 1.75rem;
}

.title_icon {
  margin-right: 8px;
  color: var(--icon-blue);
}

.title_icon > svg {
  min-width: 19px;
}

.title_text > p {
  font-size: 1rem;
  color: #4E4F55;
  margin-block-start: 0em;
}

.title_text_wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.title_text_wrapper > * + * {
  /* margin-left: 8px; */
}

.title_action_button  {
  align-self: flex-start;
  font-size: 16px;
  margin-right: 0px;
}

.title_action_button > p {
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-weight: 500;
}

.sidebar_action_button {
  font-size: 16px;
  margin-top: 0px;
  height: 38px;
  border: none;
}

.sidebar_action_button_closed {
  font-size: 16px;
  margin-top: 0px;
  height: 38px;
  border: none;
  width: 61px;
  margin-bottom: 8px;
  min-width: 60px;
  border-radius: 0px;
}

.title_back {
  font-size: 14px;
  color: #A5A6B2;
}

.title_back_current {
  color: #242424;
  font-weight: 500;
}

.alert_row {
  display: flex;
  border: 1px solid #B6B6B8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-top: 8px;
}
.alert_row:hover {
  cursor: pointer;
  background: #F0EFF4;
}

.alert_row_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-right: 1px solid #B6B6B8;
}

.alert_row_content {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.alert_row_content > h4 {
  margin-block-start: 0px;
  margin-block-end: 8px;
}

.alert_row_content > p {
  margin-block-start: 0px;
  margin-block-end: 6px;
  color: #4E4F55;
}

.initials_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6F74E7;
  border-radius: 4rem;
  height: 1.5rem;
  width:1.5rem;
  background: #6F74E7;
  color: white;
  font-family: 'IBM Plex Sans Condensed';
  margin-right: 8px;
}

.onboarding-backdrop {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;
}

.editor_menu > * {
  display: inline-block;
}

.editor_menu > * + * {
  margin-left: 5px;
}

.editor_toolbar {
  position: relative;
  padding: 1px 18px 14px;
  margin-left: -17px;
}

.editor_menu > .editor_icon:first-child {
  margin-left: 30px;
}

.editor_icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

.editor_icon {
  color: #55585C;
}

.editor_icon:hover {
  background: #EFF1F2;
  border-radius: 4px;
}

.campaign_title_input {
  background: none;
}

.campaign_title_input:hover {
  background-color: rgba(106, 106, 106, 0.194) !important;
}
